# Stacking in Ensemble Method

In [44]:
#importing necessary libraries
import numpy as np
import pandas as pd

In [45]:
data = pd.read_csv('data_cleaned.csv')

#printing the first few rows
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [46]:
# Create dependent and independent variables

X = data.drop('Survived', axis=1)
y = data['Survived']

In [47]:
# Create the train test split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=120, stratify=y)

In [51]:
# Create a function that inputs the model, train data and independent columns of test data and outputs the predictions

def modelprediction(model, train_X, train_y, test_X):
    model.fit(train_X, train_y)
    pred_test = model.predict(test_X)
    pred_train = model.predict(train_X)
    return pred_test, pred_train

In [52]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [76]:
DT = DecisionTreeClassifier()

dt_test_pred, dt_train_pred = modelprediction(DT, X_train, y_train, X_test)

#DT.score(dt_test_pred, y_test)

In [57]:
# For logistic regression and KNN, the data needs to be normalized.

from sklearn.preprocessing import StandardScaler

scalar = StandardScaler()

# Compute the mean and std to be used for later scaling
scalar.fit(X_train) 

X_train = scalar.transform(X_train)
X_test = scalar.transform(X_test)

In [58]:
# Logictic Model
LM = LogisticRegression()
lm_test_pred, lm_train_pred = modelprediction(LM, X_train, y_train, X_test)

In [59]:
# Knn
KNN = KNeighborsClassifier()
knn_test_pred, knn_train_pred = modelprediction(KNN, X_train, y_train, X_test)

In [60]:
# Create a DF for Train predictions

train_pred = pd.DataFrame(
    {
        "DT": dt_train_pred,
        "LM": lm_train_pred,
        "KNN": knn_train_pred
    }
)

In [61]:
# Create a DF for Test predictions

test_pred = pd.DataFrame(
    {
        "DT": dt_test_pred,
        "LM": lm_test_pred,
        "KNN": knn_test_pred
    }
)

In [75]:
model_final = LogisticRegression()

model_final.fit(train_pred, y_train)
model_final.score(test_pred, y_test)

0.7354260089686099